// pages
@import "pages/front-page";

// header
@import "header";

// footer
@import "footer";

// variables
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}

p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

a {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}